.header {
  background-image: url('../../images/bg-pattern.svg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 19.75rem;
  border-bottom-left-radius: 21.25rem 10.43rem;

  &__titles {
    padding-top: 4.625rem;
    padding-bottom: 3.375rem;
    background-image: url('../../images/pattern-circles.svg');
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;

    .main-text {
      color: $darkDesaturatedBlue;
      font-size: 0.938rem;
      font-weight: $font-weight-big;
      text-align: center;
      margin-bottom: 0.015625rem;
    }

    p {
      color: $grayishBlue;
      font-size: 0.625rem;
      font-weight: $font-weight-small;
      margin-bottom: -0.375rem;
    }
  }
}
