.main {
  position: relative;
  width: 87.837%;
  margin: 0 auto;
  // padding-left: 1rem;
  // padding-right: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px #eee, 0 15px 12px #efefef;
  border: 1px solid #eee;

  top: -9rem;

  .first__container {
    width: 100%;
  }

  .pricing__amount {
    width: 100%;
  }

  .slider__container {
    width: 100%;

    input[type='range'] {
      width: 12.875rem;
      color: $softCyan;
    }
  }

  .pageview__text {
    color: $grayishBlue;
    font-size: 0.625rem;
    font-weight: $font-weight-big;
    margin-top: 2.125rem;
    margin-bottom: 2.1875rem;
    letter-spacing: 0.125rem;
  }
}
