.main__container {
  .main {
    position: relative;
    width: 87.837%;
    margin: 0 auto;
    // padding-left: 1rem;
    // padding-right: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 19px 38px #eee, 0 15px 12px #efefef;
    border: 1px solid #eee;

    top: -9rem;

    .slider__container {
      .pageview__input {
        -webkit-appearance: none;
        width: 12.875rem;
        height: 0.375rem;
        outline: none;
        background: linear-gradient(
          90deg,
          $softCyan 50%,
          $lightGrayishBlue 50%
        );
        margin-bottom: 1.4375rem;
      }

      .pageview__input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 2rem;
        height: 2rem;
        background: $strongCyan;
        background-image: url('../../images/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 15px 20px -3px $strongCyan;
      }

      .pageview__input::-moz-range-thumb {
        -webkit-appearance: none;
        width: 2rem;
        height: 2rem;
        background: $strongCyan;
        background-image: url('../../images/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 15px 20px -3px $strongCyan;
      }
      .pageview__input::-ms-thumb {
        -webkit-appearance: none;
        width: 2rem;
        height: 2rem;
        background: $strongCyan;
        background-image: url('../../images/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 15px 20px -3px $strongCyan;
      }
    }

    .pageview__text {
      color: $grayishBlue;
      font-size: 0.625rem;
      font-weight: $font-weight-big;
      margin-top: 2.125rem;
      margin-bottom: 2.1875rem;
      letter-spacing: 0.125rem;
    }

    .pageview__amount {
      font-size: 1.5rem;
      color: $darkDesaturatedBlue;
      font-weight: $font-weight-big;
      margin-right: 10px;
    }

    .per__month {
      color: $grayishBlue;
      font-size: 0.8125rem;
      font-weight: $font-weight-small;
      height: 39px;
      margin-top: 20px;
    }
  }
}
